<div class="container">
  <div class="row">
    <div class="first-row">
    <div class="first-chart">
    <p-chart  type="line" [data]="salesData2" [options]="chartOptions" ></p-chart>
</div>
<div class="second-chart">
<p-chart  type="bar" [data]="salesData" [options]="chartOptions" ></p-chart>
</div>
<div class="third-chart">
    <p-chart type="pie" [data]="salesData" [options]="chartOptions" ></p-chart>
    </div>

</div>
</div>


<div class="second-row">

<div class="fourth-chart">
    <p-chart type="doughnut" [data]="salesData" [options]="chartOptions" ></p-chart>
    </div>

<div class="fifth-chart">
    <p-chart type="bar" [data]="salesData2" [options]="chartOptions"></p-chart>
    </div>
</div>
      
      
</div>
