.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    background-color: #000;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav>li:hover>ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}


.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
    color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #FDB45E;
}