<div class="container">
  <div class="features_items">
    <h2 class="title text-center" id="recommendedItems">Recommended Items</h2>

  <div class="card-container">
    <div class="row row-cols-1 row-cols-md-3 g-6" id="scrollContainer">
      <div class="col" *ngFor="let item of displayedItems; let i = index" [ngClass]="getAnimationClass(i)">
        <div class="card">
          <img [src]="item.imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">{{ item.price }}</h2>
            <p class="card-text">{{ item.name }}</p>
            
            <div class="rating">
              <span class="star" *ngFor="let star of getStarsArray(item.rating)">
                <span class="star-icon" [class.filled]="star === 1">&#9733;</span>
              </span>
            </div>

            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            
          </div>
        </div>
      </div>
    </div>
    <button class="slider-btn left" (click)="scrollLeft()">&#10094;</button>
    <button class="slider-btn right" (click)="scrollRight()">&#10095;</button>
  </div>
</div>
