.recommended_items {
    overflow: hidden;
}

.recommended-item-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -20px;
    font-size: 35px;
    color: #ccc;
    cursor: pointer;
  }
  
  .left.recommended-item-control {
    left: -1px;
  }
  
  .right.recommended-item-control {
    right: -1px;
  }
  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .animate-right {
    animation: slideInRight 1.0s forwards;
  }
  
  .animate-left {
    animation: slideInLeft 1.0s forwards;
  }
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    color: #40403E; /* Adjust as needed */
    cursor: pointer;
    transition: color 0.3s; /* Add transition for color change */
  }
  
  .slider-btn:hover {
    color: #FE980F; /* Change color on hover */
  }
  
  .left {
    left: 0; /* Adjust as needed */
  }
  
  .right {
    right: 0; /* Adjust as needed */
  }
  .col {
    flex: 0 0 auto;
    transition: transform 0.3s; /* Add transition for smooth movement */
  }
  
  .card {
    margin: 0 15%; /* Adjust as needed */
    width: 220px; /* Adjust as needed */
  }
  
  .card img {
    transition: transform 0.5s; /* Add transition for smooth image change */
  }
  
  .card:hover img {
    transform: scale(1.05); /* Zoom in image on hover */
  }
 

  
.card-title {
    
    color: #40403E;
}
.card-body{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img-top {
  margin: 2px auto; 
  display: block; 
  width: 200px; 

  }

  carousel-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
  .carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

.card-container {
    overflow-x: hidden; /* Hide the scrollbar */
    white-space: nowrap;
    position: relative; /* Ensure proper positioning of buttons */
  }

  .add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: lowercase;
    border-radius: 50rem !important; 
    margin-top: 10px
}



.star {
  display: inline-block;
}

.star-icon {
  color: #D3D3D3; /* Gray color for unfilled stars */
  font-size: 20px; /* Add font-size to adjust the size of the stars */
}

.star-icon.filled {
  color: rgb(250, 213, 6); /* Gold color for filled stars */
}
