@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    font-family: 'Roboto', sans-serif;

    position: relative;
    font-weight: 400px;
}




/* CSS for the "Back to Top" button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FE980F;
    border: none;
    border-radius: 50%;
    z-index: 9999;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
  }
  
  .back-to-top i {
    border: none;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
    
  }
  .back-to-top.jumping {
    animation: jump 0.5s ease;
  }


.btnColor {
    background: #FE980F;
    border: 0 none;
    border-radius: 50rem !important;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
    padding: 6px 12px;
}
.btn-btn-primary{
    background: #FE980F !important ;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 6px 12px;
    
}
.btnLocation{
display: flex;
justify-content: center;
}




h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    padding-top: 10px;
}

.modal-header h1{
    color: #B4B1AB;
    font-size: 30px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    
}


.h2-eshopper {
    visibility: inherit;
    transition: none 0s ease 0s;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;

    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}



/*  */

.left-sidebar h2,
.brands_products h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.features_items ,.col-sm-9-padding-right, .title-text-center h2{

    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px ;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.text-center p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
    text-transform: capitalize;
}


.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#fdb45e;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}



.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.panel-default p a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}


.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.list-left {
    margin-bottom: 0;
}

.brands-name .nav-stacked li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 0px;
    text-decoration: none;
    text-transform: uppercase;
}


.brands-name .nav-stacked li a:hover {
    background-color: #fff;
    color: #696763;
}

.price-range {
    margin-top: 30px;
}

.features_items {
    overflow: hidden;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.product-overlay {
    background: #FE980F;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;

}

.cart {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: lowercase;
}

.product-overlay .add-to-cart:hover {
    background: #fff;
    color: #FE980F;
}

.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.nav-justified{
    display: flex;
    justify-content: space-around;
}

.choose {
    border-top: 1px solid #F7F7F0;
}
.choose ul li {
padding: 10px;
}

.choose ul li a {

    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    text-transform: lowercase !important;
    

}

.choose ul li a i {
    margin-right: 5px;
}

.choose ul li a:hover {
    background: none;
    color: #FE980F;

}


.category-tab {
    overflow: hidden;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.category-tab ul {
    
    background: #40403E;
    border-bottom: 1px solid #FE980F;
    list-style: none outside none;
    /* margin: 0 0 30px; */
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.category-tab ul li a {
    
    margin: 0 20px;
    border-radius: 0;
    color: #B3AFA8;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    

}

.category-tab ul li a:hover {
    /* background: #FE980F; */
    color: #FE980F;
    text-decoration: none;
}

.category-tab.navnav.nav-tabs li.active a,
.category-tab.navnav.nav-tabs li.active a:hover,
.category-tab.navnav.nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FE980F;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}
.nav-tabs{
    
    display: flex;
    justify-content: space-between;
    

}

.btn.btn-secondary{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    background-color: #FE980F;
    border: 1px solid #616161;
}
.btn.btn-secondary:hover {
    background-color: #c57f23; /* Change the color on hover */
}

.btn.btn-secondary.active {
    background-color: #40403E; /* Change the color when active */
}
/* CSS for page change animation */



.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
        margin-right: 15px;
    padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.col-sm-2.single-widget ul {
    padding-right: 0px;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

#cart_items .cart_info .table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

#cart_items .cart_info .table.table-condensed.total-result span {
    color: #FE980F;
    font-weight: 700;
    font-size: 16px
}

#cart_items .cart_info .table.table-condensed.total-result .shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}




#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

#similar-product .carousel-inner .item {
    padding-left: 0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}
.shipping.text-center{
    padding: 10px;
}
.carousel-control-next-icon{
    color: #FE980F;
    font-size: 40px;
}
.carousel-control-prev-icon{
    color: #FE980F;
    font-size: 40px;

}

.listmedia- .btn-primary,
.commnets .btn-primary {
    background: #FC9A11;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    padding: 1px 7px;
    text-transform: uppercase;
}

.collapse-head {
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    border: none;

}


.collaspse-head:active {
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    border: none;
}

.collapse-body {
    display: flex;
    flex-direction: column;
    border: none;
}

.collapse-ul {
    list-style-type: none;
}

.collapse-body ul li a {
    text-decoration: none;
    color: #000;
}

/* .h2-eshopper {

} */

/* .col-sm-2 {
    background-color: #000;
} */










.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.container.paginator{
display: flex;
justify-content: center;

}

/* Adjust the CSS selector to ensure proper targeting */

.nav-tabs li.active a {
  background-color: #FE980F; /* Change this color to your desired active tab color */
  color: #40403E !important; /* Change this color to your desired active tab text color */
}


/* CSS for recommended item carousel arrows */



  carousel-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

.card-container {
    overflow-x: hidden; /* Hide the scrollbar */
    white-space: nowrap;
    position: relative; /* Ensure proper positioning of buttons */
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    color: #40403E; /* Adjust as needed */
    cursor: pointer;
    transition: color 0.3s; /* Add transition for color change */
  }
  
  .slider-btn:hover {
    color: #FE980F; /* Change color on hover */
  }
  
  .left {
    left: 0; /* Adjust as needed */
  }
  
  .right {
    right: 0; /* Adjust as needed */
  }
  
  .col {
    flex: 0 0 auto;
    transition: transform 0.3s; /* Add transition for smooth movement */
  }
  
  .card {
    margin: 0 15%; /* Adjust as needed */
    width: 220px; /* Adjust as needed */
  }
  
  .card img {
    transition: transform 0.5s; /* Add transition for smooth image change */
  }
  
  .card:hover img {
    transform: scale(1.05); /* Zoom in image on hover */
  }
 

  
.card-title {
    
    color: #40403E;
}
.card-body{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img-top {
    margin-top: 3px; 
  }

.carousel-indicators .active {
   background-color: #FE980F;
}
.carousel-indicators button {
    width: 30px; /* Adjust the width */
    height: 3px; /* Adjust the height */
    border-radius: 0%; /* Make them circular */
    border: none;
    margin: 0 5px; /* Adjust the spacing between indicators */
    background-color: #f8dfbe;
}

/* home.component.css */
/* app-sidebar.component.css or app-sidebar.component.scss */
.home-page-container {
    display: flex;
    flex-direction: row;
    transition: width 0.3s ease;
}

.main-content {
    flex-grow: 1;
}

.with-sidebar .main-content {
    margin-left: 10px; /* Adjust the width of the sidebar */
}

.girl-img-responsive{
    padding-left: 20px;
   width: 500px;
   height: 500px;
}

.la-ball-scale-multiple,
.la-ball-scale-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-scale-multiple.la-dark {
    color: #333;
}
.la-ball-scale-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
       -moz-animation: ball-scale-multiple 1s 0s linear infinite;
         -o-animation: ball-scale-multiple 1s 0s linear infinite;
            animation: ball-scale-multiple 1s 0s linear infinite;
}
.la-ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple.la-3x > div {
    width: 96px;
    height: 96px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
             transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -o-transform: scale(0);
           transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

