
    <div class="container">
        <div class="row loginpage">
            <div class="col-sm-4">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form action="#">
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email Address" />
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="#">
                        <input type="text" placeholder="Name"/>
                        <input type="email" placeholder="Email Address"/>
                        <input type="password" placeholder="Password"/>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
    
<div class="row">
    <div class="first-row">
    <div class="first-chart">
    <p-chart  type="line" [data]="salesData2" [options]="chartOptions" ></p-chart>
</div>
<div class="second-chart">
<p-chart  type="bar" [data]="salesData" [options]="chartOptions" ></p-chart>
</div>
<div class="third-chart">
    <p-chart type="pie" [data]="salesData" [options]="chartOptions" ></p-chart>
    </div>

</div>
</div>


<div class="second-row">

<div class="fourth-chart">
    <p-chart type="doughnut" [data]="salesData" [options]="chartOptions" ></p-chart>
    </div>

<div class="fifth-chart">
    <p-chart type="bar" [data]="salesData2" [options]="chartOptions"></p-chart>
    </div>
</div>
      
      