.btn-btn-primary{
    background: #FE980F !important;
    border: 0 none;
    border-radius: 9;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 6px 15px;
    
    
}
.form-group{
    padding: 10px;
    margin-bottom: 5px;
    font-family: abel;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #B4B1AB;
    font-size: 16px;
    
}
.modal-header h1{
    color: red;
}
.ng-valid[required], .ng-valid.required{
    border-left: 7px solid green;
}
.ng-invalid:not(form) {
    border-left: 7px solid red;
}